.orange {
    width: 100vw;
    height: 120vh;
    background: url("../img/background.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.orange .container {
    max-width: 1366px;
    /* max-height: 768px;  */
    margin: 0 auto;
    width: 100%;
}

.orange .header-nav {
    display: flex;
    justify-content: space-between;
    padding: 46px 90px 26px 135px;
}

.orange .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* background-color: chartreuse; */
}

.orange .logo-orange {
    display: none;
}

a:hover .logo-img {
    display: none;
}

a:hover .logo-orange {
    display: block;
}

.orange .logo-name {
    display: flex;
    flex-direction: column;
    text-align: left;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 8px;
}

a:hover .logo-name {
    color: #F26522;
}

.orange .logo-name-down {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: -6px;
}

.orange .contacts {
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
}

.orange .contacts:hover {
    color: #F26522;
}

.orange .email {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 19px;
    text-decoration: none;
}

.orange .email:hover {
    color: #F26522;
}

.orange .tel-number {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.orange .tel-number:hover {
    color: #F26522;
}

.orange .entertainment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.orange .ent-img {
    box-sizing: border-box;
    border: 3px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, black, white);
    border-image-slice: 1;
    width: 300px;
    height: 220px;
}

.orange .ent-items {
    margin: 0 55px 37px 33px;
    text-decoration: none;
}

.orange .ent-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    position: static;
}

a:hover .ent-title {
    color: #F26522;
}

.orange .pop-up-desc {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    background-color: #F26522;
    /* bottom: 57px; */
    position: absolute;
    /* position: relative; */
    width: 300px;
    opacity: 0;
}

.orange .pop-up-text {
    display: flex;
    flex-direction: column;
    padding: 7px 16px 12px 16px;
}

a:hover .pop-up-desc {
    opacity: 1;
    transition: 1s;
    margin-top: -59px;
}

.orange .price {
    padding-top: 8px;
    font-size: 20px;
    line-height: 20px;
}

.orange .details {
    font-size: 14px;
    line-height: 14px;
    margin: 29px 37px 12px 0;
    position: relative;
}

.orange .details::after {
    content: url("../img/vector-1.svg");
    position: absolute;
    margin: 1px 14px 14px 16px;
}

.orange .copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 12px;
}

.orange .new-theme-btn {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 18px;
    line-height: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 2px;
    /* font-weight: bold; */
    padding: 5px 12px;
    margin: 0 auto 30px;
    padding: 10px 20px;
    background-color: #F26522;
    color: #FFFFFF;
}


/* -----------  */

.greenyellow {
    width: 100vw;
    height: 120vh;
    background: url("../img/green-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.greenyellow .container {
    max-width: 1366px;
    margin: 0 auto;
    width: 100%;
}

.greenyellow .header-nav {
    display: flex;
    justify-content: space-between;
    padding: 46px 90px 26px 135px;
}

.greenyellow .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* background-color: chartreuse; */
}

.greenyellow .logo-orange {
    display: none;
}

a:hover .logo-img {
    display: none;
}

a:hover .logo-orange {
    display: block;
}

.greenyellow .logo-name {
    display: flex;
    flex-direction: column;
    text-align: left;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 8px;
}

a:hover .logo-name {
    color: #F26522;
}

.greenyellow .logo-name-down {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: -6px;
}

.greenyellow .contacts {
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
}

.greenyellow .contacts:hover {
    color: #adff2d;
}

.greenyellow .email {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 19px;
    text-decoration: none;
}

.greenyellow .email:hover {
    color: #adff2d;
}

.greenyellow .tel-number {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
}

.greenyellow .tel-number:hover {
    color: #adff2d;
}

.greenyellow .entertainment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.greenyellow .ent-img {
    box-sizing: border-box;
    border: 3px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, black, white);
    border-image-slice: 1;
    width: 300px;
    height: 220px;
}

.greenyellow .ent-items {
    margin: 0 55px 37px 33px;
    text-decoration: none;
}

.greenyellow .ent-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    position: static;
}

.greenyellow a:hover .ent-title {
    color: #adff2d;
}

.greenyellow .pop-up-desc {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    background-color: #adff2d;
    /* bottom: 57px; */
    position: absolute;
    /* position: relative; */
    width: 300px;
    opacity: 0;
}

.greenyellow .pop-up-text {
    display: flex;
    flex-direction: column;
    padding: 7px 16px 12px 16px;
}

a:hover .pop-up-desc {
    opacity: 1;
    transition: 1s;
    margin-top: -59px;
}

.greenyellow .price {
    padding-top: 8px;
    font-size: 20px;
    line-height: 20px;
}

.greenyellow .details {
    font-size: 14px;
    line-height: 14px;
    margin: 29px 37px 12px 0;
    position: relative;
}

.greenyellow .details::after {
    content: url("../img/vector-1.svg");
    position: absolute;
    margin: 1px 14px 14px 16px;
}

.greenyellow .copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    text-align: center;
    margin-top: 12px;
}

.greenyellow .new-theme-btn {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 18px;
    line-height: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 2px;
    /* font-weight: bold; */
    padding: 5px 12px;
    margin: 0 auto 30px;
    padding: 10px 20px;
    background-color: #adff2d;
    color: #000000;
    ;
}